   <!-- ======= About Section ======= -->
   <section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>{{ 'about.title' | translate}}</h2>
        <p>{{ 'about.sub-title' | translate}}</p>
      </div>

      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          <p>
            {{ 'about.desc' | translate}}
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> {{ 'about.text' | translate}}</li>
          </ul>
          <p>
            {{ 'about.desc1' | translate}}
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> {{ 'about.desc2' | translate}}</li>
            <li><i class="ri-check-double-line"></i> {{ 'about.desc3' | translate}}</li>
            <li><i class="ri-check-double-line"></i> {{ 'about.desc4' | translate}}</li>
            <li><i class="ri-check-double-line"></i> {{ 'about.desc5' | translate}}</li>
          </ul>
          <p>
            {{ 'about.desc1-2' | translate}}
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> {{ 'about.desc2-2' | translate}}</li>
            <li><i class="ri-check-double-line"></i> {{ 'about.desc3-2' | translate}}</li>
            <li><i class="ri-check-double-line"></i> {{ 'about.desc4-2' | translate}}</li>
          </ul>
        </div>
        <div class="col-lg-6 mt-3">
          <div class="member">
            <img src="assets/img/featuers/light.gif" width="100%" alt="about">
          </div>
        </div>
      </div>
      

    </div>
  </section><!-- End About Section -->
