 <!-- === Footer === -->
 <footer id="footer">
  <div class="container">
    <h3>SEEON180°</h3>
    <p>The Seeon180° Backpack, A friend watching your Back.</p>
    <div class="social-links">
      <a href="https://twitter.com/SeeOn180" target="_blank" class="twitter"><i class="bx bxl-twitter"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></i></a>
      <a href="https://www.facebook.com/Seeon180bag/" target="_blank" class="facebook"><i class="bx bxl-facebook"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></i></a>
      <a href="https://www.instagram.com/seeon180/" target="_blank" class="instagram"><i class="bx bxl-instagram"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></i></a>
      <a href="https://www.youtube.com/channel/UCz4VdG_Q06fxOXoaqsSGV5g" target="_blank" class="google-plus"><i class="bx bxl-youtube"><fa-icon [icon]="['fab', 'youtube']"></fa-icon></i></a>
      <a href="https://www.linkedin.com/company/79311595" target="_blank" class="linkedin"><i class="bx bxl-linkedin"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>SeeOn180</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed & Coded by <a href="https://it.farzat.co" target="_blank">FARZAT it solutions</a>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
