 <!-- === Footer === -->
 <footer id="footer">
  <div class="container">
    <h3>SEEON180</h3>
    <p>The Seeon180 Backpack, A friend watching your Back.</p>
    <div class="social-links">
      <a href="#" class="twitter"><i class="bx bxl-twitter"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"><fa-icon [icon]="['fab', 'skype']"></fa-icon></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>SeeOn180</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://it.farzat.co">FARZAT it solutions</a>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
