<!-- *****************************svg********************************** -->
<!-- *************************************************************** -->
<!-- Start Header -->

<header id="header" class="fixed-top d-flex align-items-center header-transparent"
  [ngClass]="[isMenuCollapsed ? 'hide' : 'mobile-nav-active', scrolled ? 'header-scrolled' : 'false']" #headerMenu>

  <button class="menu mobile-nav-toggle d-lg-none" (click)="isMenuCollapsed = !isMenuCollapsed"
    onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
    aria-label="Main Menu">
    <svg width="50" height="50" viewBox="0 0 100 100">
      <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
      <path class="line line2" d="M 20,50 H 80" />
      <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
    </svg>
  </button>

  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a [routerLink]="'.'" (click)="isMenuCollapsed = true"><img src="assets/img/LogoSmall-02.png" alt=""
          class="img-fluid"></a>
    </div>

    <nav class="navbar d-flex navbar-expand-lg" [ngClass]="isMenuCollapsed ? 'hide' : 'mobile-nav d-lg-none'">
      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li>
            <a routerLink="/home" [ngClass]="!fragment ? 'active' : ''" (click)="isMenuCollapsed = true">Home</a>
          </li>
          <li >
            <a routerLink="/home" fragment="product" [ngClass]="fragment==='product' ? 'active' : ''" (click)="isMenuCollapsed = true">Product</a>
          </li>
          <li>
            <a routerLink="/home" fragment="about" [ngClass]="fragment==='about' ? 'active' : ''" (click)="isMenuCollapsed = true">About</a>
          </li>
          <li>
            <a routerLink="/home" fragment="contact" [ngClass]="fragment==='contact' ? 'active' : ''" (click)="isMenuCollapsed = true">Contact</a>
          </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
          <ng-select [(ngModel)]="lang.selectLang" class="custom my-2 my-sm-0"
          (change)="lang.switchLangService($event)" appearance="outline" [searchable]="false" [clearable]="false">
            <ng-option value="en">
              <span class="flag-icon flag-icon-de"></span>
              EN
            </ng-option>
            <ng-option value="de">
              <span class="flag-icon flag-icon-gb"></span>
              DE
            </ng-option>
            <ng-option value="ar">
              <span class="flag-icon flag-icon-gb"></span>
              AR
            </ng-option>
          </ng-select>
        </div>
      </div>

    </nav>
    <div class="d-lg-none" [ngClass]="isMenuCollapsed ? 'd-none' : 'mobile-nav-overly'"
      [ngStyle]="isMenuCollapsed ? {display: 'none'} : {display: 'block'}"></div>
  </div>

</header>

<!-- End Header -->
