
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">

    <!-- background video -->
     <!-- <div class="overlay"></div> -->
    <!--<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="./assets/img/device.mp4" type="video/mp4">
    </video> -->

    <div class="container carousel carousel-fade">
      <owl-carousel-o [options]="homeCarousel" class="owl-testimonials">

      <!-- Slide 1, 2, 3 -->
      <ng-template *ngFor="let item of 'home' | translate " carouselSlide>
      <div class="active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">{{ item.title }}</h2>
          <p class="animate__animated animate__fadeInUp">{{ item.desc  }}</p>
          <a routerLink="/home" fragment="product" class="btn-get-started animate__animated animate__fadeInUp scrollto">{{ item.btn  }}</a>
        </div>
      </div>
      </ng-template>

    </owl-carousel-o>
    </div>

    <svg  version="1.1" class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"/>
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"/>
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff"/>
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">



    <!-- ======= About Section ======= -->
    <!-- End About Section -->



    <!-- ======= Features Section ======= -->
    <section id="futures" class="features">
      <div class="container" *ngIf="isDisplayed" @container>

        <div class="section-title" data-aos="zoom-out">
          <h2>{{ 'features.title' | translate}}</h2>
          <p>{{ 'features.sub-title' | translate}}</p>
          <span>{{ 'features.desc1' | translate}}</span><br>
          <span>{{ 'features.desc2' | translate}}</span>
        </div>

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav nav-tabs row d-flex">

          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100"
          *ngFor="let id of tabs" [ngbNavItem]="id" >
            <a class="nav-link" ngbNavLink>
              <!-- <i><fa-icon [icon]="['fas', 'suitcase-rolling']" [classes]="['icon-tabs']"></fa-icon></i> -->
              <div class="icon"><i><img src="{{'features.cards.' + id + '.pic' | translate }}" /></i> </div>
              <h4 class="d-none d-lg-block">{{ 'features.cards.' + id + '.title' | translate }}</h4>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane mt-5" data-aos="fade-up" data-aos-delay="200" @enterExitLeft>
                <div class="row">
                  <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                    <h3>{{ 'features.cards.' + id + '.desc1' | translate }}</h3>
                    <p class="font-italic">
                      {{ 'features.cards.' + id + '.desc2' | translate }}
                    </p>
                    <ul>
                      <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i> {{ 'features.cards.' + id + '.title' | translate }}</li>
                      <!-- <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i> {{ 'features.cards.' + id + '.title' | translate }}</li>
                      <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i> {{ 'features.cards.' + id + '.title' | translate }}</li> -->
                    </ul>
                    <!-- <p>
                      {{ 'features.cards.' + id + '.title' | translate }}
                    </p> -->
                  </div>
                  <div class="col-lg-6 order-1 order-lg-2 text-center">
                    <div class="member">
                      <!-- *ngIf="id===2" <img *ngIf="id!=2" [src]="'assets/img/featuers/featuers-' + id + '.jpg'" alt="bag green" class="img-fluid"> -->
                      <img [src]="'assets/img/featuers/featuers-' + id + '.gif'" alt="bag" class="img-fluid" width="100%">
                    </div>
                  </div>
                </div>
              </div>
              </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <!-- <pre>Active: {{ active }}</pre> -->

        <!-- <div class="tab-content" data-aos="fade-up">

        </div> -->

      </div>
    </section><!-- End Features Section -->

    <!-- ======= product Section ======= -->
    <app-product></app-product>
    <!-- End product Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Join us now </h3>
            <p> Protect your self and geht your Third Eyes... now 30% Early Bird discount on kickstarter.</p>
            <p>Thank you for supporting our innovation, with your help we take a step together into the future !</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" target="_blank" href="https://www.kickstarter.com/login?then=https%3A%2F%2Fwww.kickstarter.com%2Fprojects%2Fseeonbackpack%2Fseeon-180-backpack-the-backpack-of-the-future%2Fwatch">Notify me on launch</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>{{ 'services.title' | translate}}</h2>
          <p>{{ 'services.desc1' | translate}}</p>
          <span>{{ 'services.desc2' | translate}}</span>
        </div>

        <div class="row">
          <div *ngFor="let item of 'services.cards' | translate" class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" [attr.data-aos-delay]="item.aos">
              <!-- <div class="icon"><i [style.color]="item.color"><fa-icon [icon]="['fas', item.icon]"  [spin]="isSyncAnimated" (click)="isSyncAnimated=!isSyncAnimated"></fa-icon></i></div> -->
              <div class="icon"><i [style.color]="item.color"><img [src]="['./assets/img/icons/' + item.pic + '.png']" /></i></div>
              <h4 class="title"><a href="">{{item.title}}</a></h4>
              <p class="description">{{ item.desc }}</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Media</h2>
          <p>What we've done</p>
        </div>

        <div class="row">
        <!-- <video (playing)="onPlayingVideo($event)"  autoplay="true" muted="true" loop id="myVideo" >
            <source src="../../../assets/img/video-1.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video> -->

          <div class="col-lg-8 col-sm-12 portfolio-item">
            <div class="flex justify-center items-center">
            <div class="vid isAngled">
               <div class="vid-wrap">
                <video (playing)="onPlayingVideo($event)" controls width="400">
                  <source src="assets/img/video-1.mp4" type="video/mp4">
                </video>
               </div>
            </div>
          </div>
          </div>
          <div class="col-lg-4 col-sm-12 portfolio-item">
              <!-- <p data-aos="zoom-in"></p> -->
               <ul>
                <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i>A surveillance camera detects people</li>
                <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i>A motion detection sensor</li>
                <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i>A GPS tracking device</li>
                <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i>A control panel</li>
                <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i>A wireless network router</li>
                <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i>An alarm system</li>
                <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i>LED lights</li>
                <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i>A Rechargeable battery</li>
                <li><i><fa-icon [icon]="['fas', 'check-double']"></fa-icon></i>A USB-C and USB-A charging porta</li>
              </ul>
          </div>
          <div class="flex justify-center items-center">

         </div>

        </div>
      </div>
    </section>


    <!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing" style="padding-top: 10 !important;">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Pricing</h2>
          <p>The Rewards</p>
        </div>

        <div class="row">



          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Early Bird</h3>
              <h4><sup>$</sup>419</h4>
              <ul>
                <li class="text-warning" style="font-weight: 800;">Save <sup>$</sup>180</li>
                <li>1x Backpack Shell</li>
                <li>1x Control Planel</li>
                <li>1x Solar Panel</li>
                <li>1x Power Bank</li>
                <li class="na text-danger">MSRP $599</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://www.kickstarter.com/projects/seeonbackpack/seeon-180-backpack-the-backpack-of-the-future" target="_blank" class="btn-buy">Pro Order</a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Advanced</span>
              <h3>KS Price</h3>
              <h4><sup>$</sup>490</h4>
              <ul>
                <li class="text-warning" style="font-weight: 800;">Save <sup>$</sup>100</li>
                <li>1x Backpack Shell</li>
                <li>1x Control Planel</li>
                <li>1x Solar Panel</li>
                <li>1x Power Bank</li>
                <li class="na text-danger">MSRP $599</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://www.kickstarter.com/projects/seeonbackpack/seeon-180-backpack-the-backpack-of-the-future" target="_blank" class="btn-buy">Pro Order</a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in">
              <h3>Retail</h3>
              <h4><sup>$</sup>559</h4>
              <ul>
                <li class="text-warning" style="font-weight: 800;">Save <sup>$</sup>40</li>
                <li>1x Backpack Shell</li>
                <li>1x Control Planel</li>
                <li>1x Solar Panel</li>
                <li>1x Power Bank</li>
                <li class="na text-danger">MSRP $599</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://www.kickstarter.com/projects/seeonbackpack/seeon-180-backpack-the-backpack-of-the-future" target="_blank" class="btn-buy">Pro Order</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

            <ngb-accordion #acc="ngbAccordion" [destroyOnHide]='false' [closeOthers]="true" type="'success'" activeIds="false" data-aos="fade-up">


              <ngb-panel *ngFor="let item of 'faq.cards' | translate; index as i;"  class="collapse" [id]="'panel' + i">
                <ng-template ngbPanelHeader let-opened="opened">
                    <a (click)="acc.toggle('panel' + i)">
                      <i>
                        <fa-icon *ngIf="opened" [icon]="['fas','chevron-up']"></fa-icon>
                        <fa-icon *ngIf="!opened" [icon]="['fas','chevron-down']"></fa-icon>
                      </i>
                      {{i+1}} - {{ item.quast }}
                      <!-- - {{ opened ? 'opened' : 'collapsed' }} -->
                    </a>
                </ng-template>
                <ng-template ngbPanelContent>
                 {{ item.answr }}
                </ng-template>
              </ngb-panel>

            </ngb-accordion>



      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="assets/img/team/bissan.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i><fa-icon [icon]="['fab', 'twitter']"></fa-icon></i></a>
                  <a href=""><i><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></i></a>
                  <a href=""><i><fa-icon [icon]="['fab', 'instagram']"></fa-icon></i></a>
                  <a href=""><i><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Bisan Hussain</h4>
                <span>Design Director co-founder of Saros Lab GmbH</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/dr.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i><fa-icon [icon]="['fab', 'twitter']"></fa-icon></i></a>
                  <a href=""><i><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></i></a>
                  <a href=""><i><fa-icon [icon]="['fab', 'instagram']"></fa-icon></i></a>
                  <a href=""><i><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. Hans-Peter Hübner</h4>
                <span>former Robert Bosch Engineering Executive, Advisor of Saros GmbH and Mentor of the SEEON180° project</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/nassim.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i><fa-icon [icon]="['fab', 'twitter']"></fa-icon></i></a>
                  <a href="#"><i><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></i></a>
                  <a href="#"><i><fa-icon [icon]="['fab', 'instagram']"></fa-icon></i></a>
                  <a href="#"><i><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nassim Al Khalil</h4>
                <span>CEO and co-founder of Saros Lab GmbH, inventor of the Seeon180 smart backpack and chief programmer of the Bag project</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
   <!-- End Contact Section -->

  </main><!-- End #main -->
