

/*viseo*/

.vid {
  transition: .5s all;
  border-radius: 1rem;
  overflow: hidden;
  &-wrap {
     border-radius: 1rem;
     overflow: hidden;
     margin-bottom: -8px;
  }

}

.isAngled {
  transform: perspective(1000px) rotateY(25deg);
  perspective: 10px;
  transform-style: preserve-3d;
  box-shadow: -20px 30px 85px rgba(16,29,37,.5);
  transition: .5s all;
  border-radius: 1rem;
  overflow: hidden;
  // height: 350px;
  &:hover {
     transform: perspective(0px) rotateY(0deg);
     box-shadow: 0 5px 20px rgba(14,144,142,.75);
  }

}

video {
  width: 100%;
  height: auto;
}

.portfolio-item {
  padding-top: 40px;
  padding-bottom: 110px;
}

@media screen and (max-width: 768px) {
  .portfolio .portfolio-item{
    padding-bottom: 0px;
  }
}

.portfolio .portfolio-item ul li {
  list-style: none;
  padding-bottom: 10px;
}

.portfolio .portfolio-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #0E908E;
}
