<section id="product">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
          <h2>Product</h2>
          <p>SeeOn180° the multi-functional backpack</p>
          <span>This high tech yet aesthetically pleasing bag is all you need to sustain the safest possible way of living your day-to-day life.</span>
    </div>


    <div class="row">


    <div class="col-md-6">
      <container-element [ngSwitch]="linkColor">
        <some-element *ngSwitchCase="blue"><img src="assets/img/product/blue.png" class="img-fluid" alt="seeon180 blue"></some-element>
        <some-element *ngSwitchCase="gray"><img src="assets/img/product/gray.png" class="img-fluid" alt="seeon180 gray"></some-element>
        <some-element *ngSwitchDefault><img src="assets/img/product/darkgray.png" class="img-fluid" alt="seeon180 darkgray"></some-element>
        <some-element *ngSwitchCase="pink"><img src="assets/img/product/pink.png" class="img-fluid" alt="seeon180 pink"></some-element>
        <some-element *ngSwitchCase="red"><img src="assets/img/product/red.png" class="img-fluid" alt="seeon180 red"></some-element>
        <some-element *ngSwitchCase="orange"><img src="assets/img/product/orange.png" class="img-fluid" alt="seeon180 orange"></some-element>
      </container-element>
    </div>
    <div class="col-md-6">
        <div>
          <h2 class="bag-color-picker">CHOOSE A COLOR:<br/></h2>
        </div>

        <div class="container m-5">
          <button type="button" (click)="setColor(blue)" [ngStyle]="{'background-color': blue}"  class="btn btn-circle btn-sm"></button>
          <button type="button" (click)="setColor(gray)" [ngStyle]="{'background-color': gray}"  class="btn btn-circle btn-sm"></button>
          <button type="button" (click)="setColor(darkgray)" [ngStyle]="{'background-color': darkgray}"  class="btn btn-circle btn-sm"></button>
          <button type="button" (click)="setColor(pink)" [ngStyle]="{'background-color': pink}" class="btn btn-circle btn-sm"></button>
          <button type="button" (click)="setColor(red)" [ngStyle]="{'background-color': red}"  class="btn btn-circle btn-sm"></button>
          <button type="button" (click)="setColor(orange)" [ngStyle]="{'background-color': orange}" class="btn btn-circle btn-sm"></button>
        </div>

        <div class="container">
           <input (ngModelChange)="setColor($event)" [(ngModel)]="linkColor" #ctrl="ngModel" type="color" hidden>
            <!-- {{ linkColor }}  -->
          <!-- <p>Valid: {{ ctrl.value }}</p> -->
          <!--<button class="btn btn-outline-primary" (click)="getColor()" [ngStyle]="{'background-color': ctrl.value}">Set color</button> -->
          <button type="button" class="btn btn-dark btn-lg btn-block w-100" style="border-style: none;" (click)="getColor()" [ngStyle]="{'background-color': ctrl.value}">
            <a href="https://www.kickstarter.com/projects/seeonbackpack/seeon-180-backpack-the-backpack-of-the-future" target="_blank" style="color: #fff !important;">Pre Order</a>
          </button>
        </div>

      </div>

    </div>
  </div>
</section>
