  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Testimonials</h2>
        <p>What they are saying about us</p>
      </div>

      <div data-aos="fade-up">
        <owl-carousel-o [options]="testimonialsCarousel">

          <ng-template *ngFor="let item of 'testimonials.cards' | translate" carouselSlide>
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{item.text}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img [src]="[item.pic]" class="testimonial-img" alt="{{item.name}}">
              <h3>{{item.name}}</h3>
              <h4>{{item.title}}</h4>
            </div>
          </ng-template>

        </owl-carousel-o>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
