.features .nav-link i {
  padding-left: 15px;
  padding-right: 0;
}

@media (max-width: 768px) {
  .features .nav-link i {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .features .nav-link {
    padding: 15px;
  }
}

.features .tab-pane ul i {
  padding-left: 4px;
  padding-right: 0;
}

.nav {
  padding-right: 0;
}
